aiohttp==3.8.5
beautifulsoup4==4.13.0
bs4==0.0.1 (this package hasn't been updated; it's a placeholder for beautifulsoup4)
IMDbPY==2023.4.1
pymongo==4.8.0
Pyrogram==2.1.26
requests==2.31.0
TgCrypto==1.2.3
dnspython==2.4.2
